<section>
  <div class="columns ml-4 mr-4 mt-2 is-multiline">
    <% if @images && @images.count > 0 %>
      <% @images.each do |img| %>

        <% unless FlickRaw.url_n(img).blank? %>
          <div class="column is-one-fifth">
            <figure class="image m-1">
              <%= link_to FlickRaw.url_photopage(img) do %>
                <%= image_tag img.url_n, loading: 'lazy' %>
              <% end %>
            </figure>
          </div>
        <% end %>

      <% end %>
    <% else %>
      <section class="column section is-large has-text-centered">
        <h1 class="title">No content to show...</h1>
        <h2 class="subtitle">
          Make a search using either one of the predefined tags or the username of a friend. (Or both if you know what
          you are searching for!)
        </h2>
      </section>
    <% end %>
  </div>
</section>