<section class="hero is-info">
  <div class="hero-body pb-2">
    <div class="contaner">
      <p class="title">
        Flickr Quickr
      </p>
      <p class="subtitle">
        Fast and Clean
      </p>
    </div>
    <div class="container has-text-centered">
      <div class="column mb-0 is-half is-offset-one-quarter">

        <form>
          <div class="field mb-0 is-grouped">
            <input class="input m-1 mb-0" type="text" name="tag" placeholder="Search for tag...">
            <input class="input m-1 mb-0" type="text" name="user" placeholder="Search for user...">
            <button class="button m-1 mb-0 is-light is-outlined">Search</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</section>